@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
* {
    margin: 0px;
    font-size: 20px;
    font-family: Poppins;
    color: #696969;
}
.conteudo {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(225deg, gold, Khaki);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-login {
    width: 355px;
    height: 555px;
    background-color: #fff;
    border-radius: 200px 5px 200px 5px;
    border: 1px solid #CECECE;
    box-shadow: 4px 4px 3px #2c2c2c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
}
.box-login-logo {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
.box-login-slogam {
    width: 300px;
    height: 50px;
    text-align: center;
    margin: 20px auto;
}
.form {
    width: 220px;
    height: 35px;
    background-color: #DCDCDC;
    border-radius: 5px;
    border: 1px solid #696969;
    font-size: 16px;
    display: block;
    margin: 4px auto;
}
.frst, .fsub {
    width: 100px;
    display: inline;
    font-weight: 700;
    font-style: bold;
}
.fsub {
    background-image: linear-gradient(225deg, gold, Khaki);
}
.form-login-cont-botao {
    text-align: center;
}
.form-login-reset{
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 10px;
}
/* PAGINA DE CADASTRO */

.box-cadastro {
    width: 600px;
    height: 555px;
    background-color: #fff;
    border-radius: 200px 5px 200px 5px;
    border: 1px solid #CECECE;
    box-shadow: 4px 4px 3px #2c2c2c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.box-cadastro {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 200px 5px 200px 5px;
    border: 1px solid #CECECE;
    box-shadow: 4px 4px 3px #2c2c2c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
}
/* PAGINA DE CONTATO */

.box-contato {
    width: 600px;
    height: 555px;
    background-color: #fff;
    border-radius: 200px 5px 200px 5px;
    border: 1px solid #CECECE;
    box-shadow: 4px 4px 3px #2c2c2c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.box-contato {
    width: 400px;
    height: 555px;
    background-color: #fff;
    border-radius: 200px 5px 200px 5px;
    border: 1px solid #CECECE;
    box-shadow: 4px 4px 3px #2c2c2c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
}
.box-contato textarea {
    width: 220px;
    height: 200px;
}