  /* FONT STYLE GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');
  
  /* STYLE RESET */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* ROOT */
  :root {
      --linear-background: linear-gradient(72deg, rgba(182, 4, 139, 1) 1%, rgba(12, 49, 184, 1) 99%);
      --linear-modal: linear-gradient(180deg, rgba(182, 4, 139, 1) 25%, rgba(12, 49, 184, 1) 99%);
      --azul-banner: rgba(12, 49, 184, 1);
      --magenta-banner: rgba(182, 4, 139, 1);
      --back-middle: #f0ddee url('../image/thumb_m.jpg') no-repeat fixed left top;
  }
  /* BODY */
  body {
    font-size: 20px;
    font-family: Roboto;
    color: #FFF;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color:white;
  }
  .header-content{
    background-image:url(../image/toposite.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    position:sticky;
    top:0;
    z-index:20;
  }
  .header-content, .main-content , .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin:auto;
  }
  .header-content-topbar {
    width: 100%;
    height: 160px; 
    border: 0px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  .header-content-logo img {
      width: 200px;
      height: 150px;
  }
  .header-content-logo{
    width:100vw;
    height: 120px;
    border: 0px solid;
    display:grid;
    align-content:center;
    justify-content:center;
  }
  .header-content-menubartop {
    width: 100%;
    height: 40px;
    border: 0x solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: var(--linear-background);
  }
  .header-content-menubartop-item {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
    display: inline;
  }
.header-content-menubartop-item:hover {
    background-color: rgb(61, 157, 179, 0.9);
}
  .main-content-banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
.main-content-banner-page{
  width: 80%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
 .main-content-banner-page img {
    width: 100%;
    height: 400px;
    max-height: 500px;
    margin: 0 auto;
}
  .main-content-banner-nav {
    position: relative;
    top:-50px;
    right: -50%;
    transform: translate(-50%);
    display: flex;
}
.main-content-banner-bar {
    width: 50px;
    height: 30px;
    border: 4px solid #FFF;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.main-content-banner-bar:hover {
    background-color: #FFF;
}
.main-content-banner-hide {
    display: none;
}
.main-content-banner-slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.main-content-banner-slide {
    width: 20%;
    transition: 0.6s;
}
.main-content-banner-slide img {
    width: 100%;
    height: 100%;
}
#slide1:checked ~ .main-content-banner-s1 {
    margin-left: 0;
}
#slide2:checked ~ .main-content-banner-s1 {
    margin-left: -20%;
}
#slide3:checked ~ .main-content-banner-s1 {
    margin-left: -40%;
}
#slide4:checked ~ .main-content-banner-s1 {
    margin-left: -60%;
}
#slide5:checked ~ .main-content-banner-s1 {
    margin-left: -80%;
}
  @keyframes FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
  }
.banner-top {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    position: absolute;
}
.main-content-expositor, .main-content-expositor-best, .main-content-expositor-classics {
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    gap: 1rem;
    border-bottom: 0px solid;
}
.main-content-expositor {
  background: var(--back-middle);
}
h2 {
  width: 100%;
}
.main-content-expositor-card-M, .main-content-expositor-card-P  {
    margin: 1rem;
    display: inline;
}
  .main-content-expositor-card-M {
    width: 370px;
    height: 296px;
  }
  .main-content-expositor-card-P{
    width: 270px;
    height: 240px;
  }
  .main-content-expositor-capa-M {
    width: 0px;
    height: 220px;
    position:relative;
  }
  .img-game{
    width: 370px;
    height: 220px;
    position:absolute;
    border-radius:5px 5px 0px 0px;
  }
  .main-content-expositor-capa-M:hover .img-game{
    opacity:0;
    transition: all 1s ease-out;
  }
  .main-content-expositor-capa-M:hover .card-texto{
    opacity:1;
    transition: all 1s ease-in-out;
  }
  .card-texto{
    position:absolute;
    width: 370px;
    height: 220px;
    opacity:0;
    text-align:justify;
    line-height: 1.1rem;
    font-size: 1rem;
    padding: 5px 5px;
    margin: auto;
    color: var(--azul-banner);
    background-color:rgba(180, 180, 180, 0.8);
  }
  .main-content-expositor-capa-P {
    width: 0px;
    height: 150px;
  }
  .main-content-expositor-capa-P:hover .img-game-small{
    opacity:0;
    transition: all 1s ease-out;
  }
  .main-content-expositor-capa-P:hover .card-texto-small{
    opacity:1;
    transition: all 1s ease-in-out;
  }
  .img-game-small{
    width: 270px;
    height: 150px;
    position:absolute;
    border-radius:5px 5px 0px 0px;
  }
  .card-texto-small{
    position:absolute;
    width: 270px;
    height: 150px;
    opacity:0;
    text-align:justify;
    line-height: 1rem;
    font-size: 0.7rem;
    padding: 10px 5px;
    margin: 5px auto;
    color: var(--azul-banner);
    background-color:rgba(180, 180, 180, 0.8);
  }
  .botao-ver-mais{
    background-color:var(--azul-banner);
    border-radius:5px;
    width:75px;
    height:25px;
    border: 0px;
  }
.main-content-expositor-prod-info-M, .main-content-expositor-prod-info-P {
    background-image: linear-gradient(180deg, #000 30%, transparent 50%);
  }
.titulo{
    color: var(--azul-banner);
}
.preco{
    font-size: 15px;
    padding: 5px 0px;
    margin-bottom: 5px;
    background-color: var(--azul-banner);
    color: #fff;
}
.main-content-contato {
  width: 100%;
  height: auto;
  margin: auto;
  background: var(--back-middle);
  display:grid;
  justify-content:center;
}
.main-content-contato-txt {
    width: 23rem;
    height: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;
}
.main-content-contato-txt-area {
    resize: none;
    width: 23rem;
    height: 8rem;
    margin-top: 0.5rem;
}
  .main-content-contato-tag {
    display: block;
    width: 8rem;
  color: #FFF;
  text-shadow: 1px 1px 2px black;
  }
  .main-content-contato-botoes {
      text-align: center;
  }
  .footer-content{
    background-image: var(--linear-background);
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
  }
.main-content-sobre {
    width: 100%;
    height: auto;
    text-align:justify;
    font-size: 16px;
    color: #FFF;
    background: var(--back-middle);
}
.main-content-sobre-texto {
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 45%, transparent 99%);
  width: 100%;
  height: 100%;
  text-align: left;
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1rem;
  padding: 20px;
  color: #FFF;
  text-shadow: 1px 1px 2px black;
}
.footer-content-socialmediabar {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-content-copyrightbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.img-aluno{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.dados-aluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 12px;
}  
/* PÁGINAS DE GAMES */
.body-page{
  background-color: #f0ddee;
}
.main-content-expositor-page{
  background-color: #FFF;
  padding:10px;
  width:80%;
  height;400px;
  maring: 0 auto;
  color:black;
  text-align:justify;
  line-height: 1.8rem;
}
.main-content-banner-page-titulo {
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
  font-size: 1.5rem!important;
  text-shadow: 1px 1px 2px #000;
}
.sobre-jogo{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center;
  padding: 10px;
}

.main-content-banner-page-img {
  width: 500px;
  height: 280px;
}
.main-content-banner-page-texto {
    width:500px;
    height: auto;
    line-height: 1.8rem;
    padding-right: 10px;
}
.main-content-expositor-cart {
  display:flex;
  flex-direction: row;
  justify-align: center;
  line-height: 40px;
  letter-spacing: 0.1rem;
  width:120px;
  height: 40px;
  background-color: rgb(61, 157, 179);
  border-radius: 8px;
  padding-right: 5px;
  border:none;
}
.main-content-expositor-cart img {
  width:30px;
  margin: 5px auto;
}
.main-content-expositor-cart:hover {
  filter: brightness(1.2);
}
.main-content-expositor-page h2{
  margin-top:25px;
}
@media screen(max-width: 500px) {
  .sobre-jogo{
  display:flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  padding: none!important;
}
  .main-content-banner-page-texto {
    width:100%;
    height: auto;
    line-height: 1.8rem;
    padding-right: 10px;
}
}